<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- include('/../framework/head'); %>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <%- include('/../framework/main-header'); %>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <%- include('/../framework/main-sidebar'); %>
        <!-- Content Wrapper. Contains page content -->
        <%- include('/content/content-wrapper'); %>

         <%- include('/../framework/main-footer'); %>

    </div>

</body>
</html>