


      <div class="col-md-6 ">
        <div class="card p-4">
          <div class="d-flex">
            <h6 class="flex-grow-1">Miraflores de la Sierra</h6>
            <h6><i class="<%=(!IsDayTime?'fas fa-moon':'fas fa-sun')%>"></i>
              <%var _t=new Date(LocalObservationDateTime);
                var _th =' 0'.repeat( 2 - (_t.getHours() + '').length) + _t.getHours();
                var=_tm =' 0'.repeat( 2 - (_t.getMinutes() + '').length) + _t.getMinutes();
                =( _th +":"+_tm)%></h6>
          </div>
          <div class="d-flex flex-column temp mt-5 mb-3">
            <h1 class="mb-0 font-weight-bold" id="heading"><%=Temperature.Metric.Value%>° C</h1>
            <span class="small grey"><%=WeatherText%></span>
          </div>
          <div class="d-flex">
            <div class="temp-details flex-grow-1">
              <p class="my-1">
                <img src="https://i.imgur.com/B9kqOzp.png" height="17px">
                  <span><%=Wind.Speed.Metric.Value%><%=Wind.Speed.Metric.Unit%></span>
              </p>
              <p class="my-1">
                <i class="fa fa-tint mr-2" aria-hidden="true"></i>
                <span> <%=RelativeHumidity%>%
              </span>
              </p>
              <p class="my-1">
                
              </p>
            </div>
            <div><img src="https://developer.accuweather.com/sites/default/files/<%='0'.repeat( 2 - (WeatherIcon + '').length) + WeatherIcon%>-s.png" width="100px"/>
            </div>
          </div>
        </div>
      </div>
 